.bv-card-container {
	display: flex;
}

.bv-img {
	width: 200px;
	height: 200px;
	margin: 10px;
}

.bv-review {
	display: flex;
	align-items: center;
	justify-items: center;
}

.bv-review > * {
	padding: 3px;
}
