.ls-bg {
	background-color: honeydew;
	display: flex;
	flex-direction: column;
	padding: 10%;
	align-items: center;
}

.ls-search-container {
	width: 45%;
	display: flex;
	padding: 30px;
}

.ls-search-container > * {
}
.ls-search {
	width: 90%;
}

.ls-services {
	display: flex;
}
