.header__logo {
	height: 75px;
	width: 200px;
}

.menu-title {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
