.b-signup-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
}

.b-signup-logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.b-signup-form-container {
	background-color: #385170;
	display: flex;
	align-items: center;
	justify-content: center;
}

.b-signup-form {
	height: 300px;
	width: 400px;
	padding: 25px;
}
