.jo-main-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 5%;
}

.jo-details {
	padding: 15px;
}

.jo-side-card {
	margin-left: 20%;
	margin-top: 25%;
}

.jo-name {
	display: flex;
	align-items: center;
}
